@model EstadoCidadeAjax.Models.CidadeModel
<div id="update2">
    @if (Model != null)
    {
        <div>
            @Html.Partial("_Cidade", new EstadoCidadeAjax.Models.Cidade { Descricao = "", EstadoId = Model.EstadoId })
        </div>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>
                        Cidade
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var cidade in Model.Cidades)
                {
                    <tr>
                        <td>
                            <input type="submit" value="Excluir" />
                        </td>
                        <td>
                            @cidade.Descricao
                        </td>
                        <td>@Ajax.ActionLink("Excluir", "ExcluirCidade", "Estado", new { id = cidade.CidadeId }, new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "update2" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
